doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Productos
    link(rel="stylesheet", href="/styles/styles.css")
  body
    .product-container
        each product in products
            .product-card 
                img(src=product.image, alt=product.title, class="product-image") 
                .product-info 
                h2.product-title= product.title 
                p.product-price Price: #{product.price}
                p.product-description Description: #{product.description} 
                p.product-category Category: #{product.category} 
                p.product-rating Rating: #{product.rating.rate} (#{product.rating.count} ratings) 
