extends ../landing

block content
    .categories-container
        form(action="/api/products/category", method="GET")
            label(for="categoria") Filtrar por categoría:
            select(name="categoria", id="categoria" onchange="filtrarProductos(this.value)")
                option(value="") Todas las categorías
                if categoriesResponse && Array.isArray(categoriesResponse)
                    each categoria in categoriesResponse
                        option(value=categoria)= categoria

    .product-container
        each product in productsResponse
            .product-card 
                .product-card-container
                    .product-card-container-image
                        img(src=product.image, alt=product.title, class="product-card-container-image") 
                    .product-card-container-info 
                        h2.product-title= product.title 
                        p.product-price Precio: #{product.price}
                        .product-card-container-info-description
                            p.product-description Descripcion: #{product.description} 
                        p.product-category Categoria: #{product.category} 
                        p.product-rating Rating: #{product.rating.rate} (#{product.rating.count} ratings) 
                    .product-card-container-button
                        button.add-to-cart-button(type="button")
                            | Agregar al carrito
                        .product-quantity-spinner
                            button.minus-button(type="button") -
                            input(type="number" min="1" value="1")
                            button.plus-button(type="button") +