extends ../landing

block content
    .product-container
        each product in products
            .product-card 
                .product-card-container
                    .product-card-container-image
                        img(src=product.image, alt=product.title, class="product-card-container-image") 
                    .product-card-container-info 
                        h2.product-title= product.title 
                        p.product-price Precio: #{product.price}
                        p.product-description Descripcion: #{product.description} 
                        p.product-category Categoria: #{product.category} 
                        p.product-rating Rating: #{product.rating.rate} (#{product.rating.count} ratings) 
