html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ecommerce PC - Cart
    link(rel="stylesheet", href="/styles/cartStyle.css")
    link(rel="stylesheet", href="/styles/navStyle.css")
    link(rel="stylesheet", href="/styles/footerStyle.css")

  body

    include ../nav.pug
        
    .cart-container
        .cart-wrapper
            .product-cart-container
                each product in productsResponse
                    .product-cart-card(data-product-id=product.productId)
                        .product-cart-card-container
                            .product-cart-card-delete
                                button.product-cart-card-delte-button(type="button", id=("btnDeleteProductCart")) Eliminar
                            .product-cart-card-container-image
                                img(src=product.productImg, alt=product.productTitle, class="product-cart-card-container-image")
                            .product-cart-card-container-info
                                .product-cart-card-container-descr 
                                    h2.product-cart-title= product.productTitle
                                    p.product-cart-price Precio: $
                                        if product.productAmountFinal
                                                | #{product.productAmountFinal.toFixed(2) * product.productQuantity}
                                        else
                                                | #{product.productPrice.toFixed(2) * product.productQuantity}
                                    p.product-cart-quantity Cantidad: #{product.productQuantity}

            .cart-summary-container
                - let totalPrice = 0;
                - let totalQuantity = 0;
                each product in productsResponse
                    - let productTotalPrice = (product.productAmountFinal || product.productPrice) * product.productQuantity;
                    - totalPrice += productTotalPrice;
                    - totalQuantity += product.productQuantity;

                p.cart-summary-total Total: $ #{totalPrice.toFixed(2)}
                p.cart-summary-quantity Cantidad total: #{totalQuantity}

                button.cart-summary-button(type="button", id="btnBuyCart") Completar compra
                button.cart-summary-button-clean(type="button", id="btnCleanCart") Limpiar carrito

    include ../footer.pug

    script.
      const globalConstants = {
            PORT: "#{port}",
            APPLICATION_NAME: "#{applicationName}",
      }
    script(src="/js/commons.js")
    script(src="/js/cart.js")
    script(src="/js/product.js")